.button {
  color: #fff;
  padding: 14px 16px;
  background: #019376;
  border: none;
}

.button:hover {
  background-color: #019376;
  color: #fff;
  border: none;
}

.custom {
  flex: 1;
  /* padding: 5px; */
  /* padding: 0px 23px; */
  height: 40px;
  padding: 0 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background: #fff;
}
