.cate {
  width: 350px;
  min-height: 450px;
  border: 1px solid #019376;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  box-shadow: -5px -4px 3px 0px rgba(255, 255, 255, 0.425),
    5px 4px 3px 0px rgba(88, 88, 88, 0.425);
}

.cate-1 {
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 15px 5px;
  margin-bottom: 10px;
  box-shadow: 0 5px 25px 0 rgb(0 0 0 / 20%);
}
