.nameStyle {
  font-size: 30px !important;
  font-weight: 600 !important;
  color: #0d1136 !important;
  line-height: 1.5 !important;
}

.priceStyle {
  margin-top: 10px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #0d1136 !important;
}

.des {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #424561 !important;
  margin-top: 30px !important;
}

.addtocartBtn {
  background: #019376 !important;
  color: #fff !important;
  padding: 10px 20px !important;
}

.addtocartBtn:hover {
  background-color: "#019376";
}

.quantityBtn {
  background-color: #019376 !important;
  min-width: 38px !important;
  height: 30px !important;
  color: #fff !important;
  border-radius: 0 !important;
  padding: 10px 20px !important;
}

.quantityBtn:hover {
  background-color: #019376;
}

.quantityInput {
  height: 30px;
  width: 40px;
  font-size: 16px;
  color: #242424;
  text-align: center;
  outline: none;
  border: none;
}
