body {
  background-color: #f7f7f7;
}

.slick-dots {
  background-color: transparent;
  bottom: 35px;
}

a {
  text-decoration: none;
}

.active-links {
  color: #00c58d !important;
  background-color: rgb(247, 247, 247);
  border-radius: 50px 0px 0px 50px;
}

.active-link {
  border: 1px solid red;
}
