body {
  background-color: #f7f7f7;
}

.slick-dots {
  background-color: transparent;
  bottom: 35px;
}

a {
  text-decoration: none;
}

.active-links {
  color: #00c58d !important;
  background-color: rgb(247, 247, 247);
  border-radius: 50px 0px 0px 50px;
}

.active-link {
  border: 1px solid red;
}

.bg-white {
  background-color: white;
}

.p-1 {
  padding: 0.25rem;
}

.p-3 {
  padding: 0.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

/* .wrapper .image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
